.navbar.bg-light{
    background-color: #F64747!important;
}
.navbar-light .navbar-brand {
    color: #fff!important;
}
p{
    margin-bottom: 20px!important;
}
.banner{
    background: url("../images/banner4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200vh;
    position: relative;
    overflow: hidden;
}
.box{
    margin: 0px 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10%;
    overflow: hidden;
    padding: 50px;
}
.banner h2{
    color: #fff;
    font-weight: 600;
}
.banner p{
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.content p{
    color: #fff;
    font-size: 16px;
}
.footer{
    background-color: #F64747;
}
.box1{
    margin: 0 80px; 
}
.footer h2{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  padding-top: 90px;
}
form{
    padding-top: 30px;
}
label{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.075)!important;
    border-color: rgba(255, 255, 255, 0.25);
    color: #fff!important;
}
input{
    color: #fff!important;
}
.btn.btn-light{
    background: #F64747;
    font-weight: bold;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.25);
}
.links{
    margin-left: 330px;
}
.links li{
   list-style: none; 
}
.fab{
    color: #fff!important;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.075);
   text-align: center;
  padding-top: 15px;
  margin-left: 20px;
}
.links p{
    font-size: 12px;
    padding-bottom: 40px;
    font-weight: 100;
    margin-top: 20px;
}
.links p a{
    color: #fff;
}
/* Media Querry for mobile*/
@media(min-width: 320px) and (max-width: 767px){
    .navbar.bg-light{
        width: 100%;
    }
    .banner{
        width: 200%;
        height: 230vh;
    }
    .box{
        padding: 10px 10px;
    }
    .footer{
        width: 200%;
    }
    .links{
        margin-left: 113px;
    }
}
/* Media Querry for Mobile (landscape)*/
@media(min-width: 320px) and (max-width: 767px) and (orientation: landscape){
   .box1{
       margin: 0px;
   }
   .box{
       padding: 10px 10px;
       margin-bottom: 20px;
   }
}
